.article-management {
  height: 100%;
  overflow: auto;

  .btn-container {
    text-align: right;
  }

  .mat-table {
    width: 100%;
    margin-top: 16px;

    .article-link {
      color: #3f51b5;
      text-decoration: none;
    }
  }
}