<div class="home">
  <header>
    <mat-toolbar color="primary">
      <span class="site-title">
        <img src="../assets/avatar.jpeg" />
        <span>Nayuta's Blog Admin</span>
      </span>
      <span class="spacer"></span>
      <button mat-icon-button [attr.aria-label]="
          theme === 'light' ? 'change to dark mode' : 'Change to light mode'
        " (click)="toggleTheme()">
        <mat-icon>{{
          theme === "light" ? "light_mode" : "dark_mode"
          }}</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>